<div id="<%= dom_id plagiarism_report %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Assignment submission:</strong>
    <%= plagiarism_report.assignment_submission_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Similarity score:</strong>
    <%= plagiarism_report.similarity_score %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sources list:</strong>
    <%= plagiarism_report.sources_list %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date generated:</strong>
    <%= plagiarism_report.date_generated %>
  </div>
</div>
