<div id="<%= dom_id assignment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Subject:</strong>
    <%= assignment.subject_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Class grade:</strong>
    <%= assignment.class_grade_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date due:</strong>
    <%= assignment.date_due %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= assignment.description %>
  </div>
</div>
