<div id="<%= dom_id subject %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= subject.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= subject.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= subject.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Grade:</strong>
    <%= subject.class_cohort.class_grade.grade %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Class cohort:</strong>
    <%= subject.class_cohort_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Teacher:</strong>
    <%= subject.teacher_id %>
  </div>
</div>
