<div id="<%= dom_id address %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Building number:</strong>
    <%= address.building_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Street:</strong>
    <%= address.street %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Postcode:</strong>
    <%= address.postcode %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= address.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Country:</strong>
    <%= address.country %>
  </div>
</div>
