<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "SchoolBridge" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "custom",      media: "all", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", defer: true, "data-turbo-track": "reload" %>
</head>

<body>
<div class="container">

  <% unless devise_controller? %>
    <aside class="sidebar">
      <h2>SchoolBridge</h2>
      <ul>
        <li><%= link_to "Assignments", assignments_path %></li>
        <li><%= link_to "Submissions", assignment_submissions_path %></li>
        <li><%= link_to "Subjects", subjects_path %></li>
        <li><%= link_to "Reports", plagiarism_reports_path %></li>
      </ul>
      <div class="mt-auto pt-4">
        <%= button_to "Sign Out",
                      destroy_person_session_path,
                      method: :delete,
                      class: "block w-full text-center py-2 bg-white/10 rounded hover:bg-white/20 text-white" %>
      </div>
    </aside>
  <% end %>

  <main class="content">
    <% flash.each do |type,msg| %>
      <div class="flash <%= type %>"><%= msg %></div>
    <% end %>
    <%= yield %>
  </main>

</div>
</body>

</html>
